:root {
  --primary-color: #18a058;

  --radius-angle: 8px;
}

html {
  font-family: "SF Pro SC", "SF Pro Display", "SF Pro Icons", "PingFang SC",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
}
body {
  line-height: 1.5294717647;
  letter-spacing: -0.021em;
  color: #333;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  background-color: white;
}
